@font-face {
  font-family: "ほのか丸ゴシック";
  src: url('Resources/font_1_honokamarugo_1.1.ttf');
}
@font-face {
  font-family: "無数のセットプロ";
  src: url('Resources/myriad-set-pro_text.ttf');
}
@font-face {
  font-family: "タイムマシンわ号";
  src: url('Resources/timemachine-wa.ttf');
}

body {
  background-color: white;
  background-image: url('Resources/osaka.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 120px;
}

.topbar {
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.topbar a{
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: '無数のセットプロ';
}

.topbar a:hover {
  background-color: green;
  color: yellow;
}

.topbar a.active {
  background-color:yellow;
  color: red;
}

.b {
  font-family: '無数のセットプロ';
  color: white;
  padding-left: 90px;
  padding-right: 90px;
}

h1 {
  font-family: "ほのか丸ゴシック";
  color: grey;
  text-align: left;
}

p {
  font-family: inherit;
}

.hed1 {
  text-align: left;
  font-size: 36px;
  text-decoration:underline;
}
