@font-face {
    font-family: "HonokaMaruGothic";
    src: url('Resources/font_1_honokamarugo_1.1.ttf');
  }
  @font-face {
    font-family: "MyriadSetPro";
    src: url('Resources/myriad-set-pro_text.ttf');
  }
  @font-face {
    font-family: "TimemachineWa";
    src: url('Resources/timemachine-wa.ttf');
}

*{margin:0; padding:0;}

body,html{height: 100%; font-family: 'MyriadSetPro',Arial, Helvetica, sans-serif; color: grey;}

#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gray;
    color: black;
    z-index: 99;
    opacity: 1;
    transition: all 1s;
    font-size: 20px;
}
.page{
    display: none;
}

header{
    position: fixed;
    width: 100%;
    height: 40px;
    font-family: "HonokaMaruGothic";
    padding: 10px 20px;
    background-color: white;
    top:-50px;
    z-index: 10;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    transition: all 1s;
}

.flexrow{
    display: flex;
    flex-direction: row;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
}
.justify-ctr{
    justify-content: center;
}
.align-ctr{
    align-items: center;
}

#cover{
    width: 100%;
    height: 100%;
    background-color: gray;
    color: white;
    background-image: url("./Resources/osaka-small.jpg");
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
}
#bigtext{
    height: 100%;
    position:fixed;
    top:0;
    padding: 50px 140px 0 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%);
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
#bigtext .quote{
    font-size: 1em;
    max-width: 540px;
    padding: 0 10px;
    background-color: yellow;
}
#slogan{
    font-size: 2em !important;
    font-weight: 700;
}

.links{
    font-family: "Arial Rounded MT", Helvetica, sans-serif;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    width: fit-content;
    font-size: 0.8em;
    line-height: 35px;
    transition: all 0.5s;
}
#ip{
    background-color: rgba(0,180,0,0.9);
    border: 8px solid rgba(0,210,0,1);
    box-shadow: 0px 0px 20px 0px rgba(0,255,0,0.3);
}
#ip:hover{
    background-color: rgba(0,200,0,0.9);
    border: 8px solid rgba(0,255,0,1);
    box-shadow: 0px 0px 20px 0px rgba(0,255,0,1);
    cursor: pointer;
}
#discord{
    background-color: rgba(114,137,218,0.9);
    border: 8px solid rgb(49, 74, 235);
    box-shadow: 0px 0px 20px 0px rgba(114,137,218,0.3);
}
#discord:hover{
    background-color: rgba(114,137,218,0.9);
    border: 8px solid rgb(56, 82, 255);
    box-shadow: 0px 0px 20px 0px rgb(67, 92, 255);
    cursor: pointer;
}
.links h3{
    font-size: 1.7em;
}

@media (max-width: 800px) {
    #bigtext{
        max-width: 100%;
        width: 100%;
        padding: 10px;
        background: rgba(0,0,0,0.5);
    }
    #bigtext .quote{
        font-size: 0.8em;
        max-width: 90%;
        width: fit-content;
    }
    #slogan{
        font-size: 1.5em !important;
        font-weight: 700;
    }
    .links{
        font-size: 0.6em;
        border-width: 5px !important;
        padding: 3px 15px;
    }
}